<h1>Blair's Grocery List</h1>

<%= link_to "Add Grocery Item", new_grocery_path %><br></br>

<% @groceries.each do |grocery| %>
	<li><%=link_to "Edit", edit_grocery_path(grocery[:id])%>
	<%=link_to "Delete", grocery, method: :delete, data: { confirm: "Your sure?" } %>
	<%= link_to grocery.item, grocery_path(grocery) %>
	</li>
<% end %>